.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.mainPage_header__height {
    height: 657.73px;
}

.headerContainer__mainPageBackground {
    background-image: url(./Main_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.ourCoffee_header__height {
    height: 260px;
}

.headerContainer__ourCoffeePageBackground {
    background-image: url(./OurCoffe.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.navbarContainer {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 150px;
}

.children{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

